# Taskman email configuration
T_EMAIL_HOST=host
T_EMAIL_PORT=143
T_EMAIL_USER=user
T_EMAIL_PASS=pass
T_EMAIL_FOLDER=Inbox
T_EMAIL_SSL=true

# Helpdesk email configuration
H_EMAIL_HOST=host
H_EMAIL_PORT=143
H_EMAIL_USER=user
H_EMAIL_PASS=pass
H_EMAIL_FOLDER=Inbox
H_EMAIL_SSL=false
