# Secret configuration which is not committed to git
# For all available parameters view https://github.com/sameersbn/docker-redmine#available-configuration-parameters

# DATABASE SETTINGS
DB_NAME=redmine_production
DB_USER=redmine
DB_PASS=password

# incoming emails API: Administration -> Settings -> Incoming email - API key
HELPDESK_EMAIL_KEY=
