# For all available parameters view https://github.com/sameersbn/docker-redmine#available-configuration-parameters

# DATABASE SETTINGS
DB_NAME=redmine_production
DB_USER=redmine
DB_PASS=password

# NGINX SETTINGS
NGINX_MAX_UPLOAD_SIZE=100M
NGINX_WORKERS=auto

# OTHER SETTINGS
UNICORN_TIMEOUT=600
