# Secret configuration which is not committed to git
# For all available parameters view https://github.com/sameersbn/docker-redmine#available-configuration-parameters

# GitHub sync
SYNC_API_KEY=12345678
SYNC_REDMINE_URL=https://taskman.eionet.europa.eu/sys/fetch_changesets?key=%s

# DATABASE SETTINGS
DB_NAME=redmine_production
DB_USER=redmine
DB_PASS=password
